<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarnessHousekeepOddsDatabase.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HarnessHousekeepOddsDatabase.My.MySettings.ConnectionString"
            connectionString="Database=OddsMatching;Data Source=eu-cdbr-azure-north-e.cloudapp.net;User Id=b083cb50265fec;Password=263fb5f7;persistsecurityinfo=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <HarnessHousekeepOddsDatabase.My.MySettings>
            <setting name="ProcessCycleEverySecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\HousekeepOddsDatabase\logs\</value>
            </setting>
            <setting name="LoadOutcomesAndOffers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitEventRows" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LimitOrphanedRoes" serializeAs="String">
                <value>1000</value>
            </setting>
        </HarnessHousekeepOddsDatabase.My.MySettings>
    </userSettings>
</configuration>